<div class="item-page row">
  <img src="https://s.gravatar.com/avatar/e07957839319470aa6851c6c9be9077c?s=80" alt="Coin Logo" class="">

  <div class="second">
    <div>Acoin / A链</div>
    <small>价格: BCoin / B链</small>
  </div>

  <div class="third">
    <div>100</div>
    <small>200</small>
  </div>

<!--  <div class="submit-order">-->
<!--    <span>下单</span>-->
<!--  </div>-->

<!--  <button class="btn btn-success submit-order admin-match">匹配</button>-->
<!--  <button class="btn btn-danger submit-order admin-cancel">取消</button>-->

<!--  <button class="btn btn-success btn-sm">匹配</button>-->
<!--  <button class="btn btn-danger btn-sm">匹配</button>-->

  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-success">匹配</button>
    <button type="button" class="btn btn-danger">取消</button>
  </div>
</div>
