<div class="chain-header">
  <span>出售</span>
</div>

<div class="new-order sell-order">
  <div class="order-card">
    <div class="inner-card">
      <form>

        <h6>出售</h6>
        <div class="h-line"></div>

        <div class="items">
          <div>
            <select class="form-control form-control-sm">
              <option>A链</option>
              <option>B链</option>
              <option>C链</option>
            </select>
            <i class="icon-triangle" aria-hidden="true"></i>
          </div>
          <div class="v-line"></div>
          <div>
            <select class="form-control form-control-sm">
              <option>Acoin</option>
              <option>Bcoin</option>
              <option>Ccoin</option>
            </select>
            <i class="icon-triangle" aria-hidden="true"></i>
          </div>
          <div class="v-line"></div>
          <div>
            <input type="text" class="form-control form-control-sm amount" placeholder="数量">
          </div>
        </div>

        <div class="h-line"></div>

        <h6>私钥:</h6>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="">
        </div>
      </form>
    </div>

  </div>

  <div class="order-card">
    <div class="inner-card">
      <form>

        <h6>定价</h6>
        <div class="h-line"></div>

        <div class="items">
          <div>
            <select class="form-control form-control-sm">
              <option>B链</option>
              <option>C链</option>
              <option>D链</option>
            </select>
            <i class="icon-triangle" aria-hidden="true"></i>
          </div>
          <div class="v-line"></div>
          <div>
            <select class="form-control form-control-sm">
              <option>Bcoin</option>
              <option>Ccoin</option>
              <option>Dcoin</option>
            </select>
            <i class="icon-triangle" aria-hidden="true"></i>
          </div>
          <div class="v-line"></div>
          <div>
            <input type="text" class="form-control form-control-sm amount" placeholder="数量">
          </div>
        </div>

        <div class="h-line"></div>

        <h6>地址:</h6>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="">
        </div>
      </form>
    </div>
  </div>

  <div class="button-group">
    <button class="btn cancel-button">取消发布</button>
    <button class="btn submit-button">确认发布</button>
  </div>
</div>

<%= render "layouts/footer" %>
