default: &default
  chains:
    Apollo:
      rpc: http://127.0.0.1:1337
      chain_id: 1
      ex_contract: x
      token_contracts:
        Aurora:
          icon: aurora
          address: x
    Barney:
      rpc: http://127.0.0.1:1338
      chain_id: 1
      ex_contract: x
      token_contracts:
        Bigfish:
          icon: bigfish
          address: x
  users:
    deploy:
      private_key:
      address:
    alice:
      private_key:
      address:
    bob:
      private_key:
      address:

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
