default: &default
  chains:
    Apollo:
      rpc: 'http://127.0.0.1:1337'
      chain_id: 1
      ex_contract: 'x'
      token_contracts:
        AAPO:
          icon: aapo
          address: 'x'
    Barney:
      rpc: 'http://127.0.0.1:1338'
      chain_id: 1
      ex_contract: 'x'
      token_contracts:
        ABAR:
          icon: abar
          address: 'x'
  users:
    deploy:
      private_key: ''
      address: ''
    alice:
      private_key: ''
      address: ''
    bob:
      private_key: ''
      address: ''

  cita_cli_path: cita-cli

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
