<div class="item-page row">
  <img src="https://s.gravatar.com/avatar/e07957839319470aa6851c6c9be9077c?s=80" alt="Coin Logo" class="">

  <div class="">
    <div>Acoin / A链</div>
    <small>价格: BCoin / B链</small>
  </div>

  <div class="">
    <div>100</div>
    <div>200</div>
  </div>

<!--  <div class="submit-order">-->
<!--    <span>下单</span>-->
<!--  </div>-->

  <%= link_to new_order_path, class: "submit-order" do %>
    <span>下单</span>
  <% end %>
</div>
