@import "~bootstrap/scss/bootstrap";

// Src
@import "chain_index";
@import "chain_item";
@import "order_new";
@import "order_sell";
@import "footer";

// icomoon
@import "../icomoon/style";

body {
  background-color: #efeff4;
}

a {
  text-decoration: none;
  &:link,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}
