<footer>

  <div>
    <i class="icon-list"></i>
    <span>列表</span>
  </div>

  <div>
    <i class="icon-sell"></i>
    <span>出售</span>
  </div>

  <div>
    <i class="icon-sell"></i>
    <span>账户</span>
  </div>

</footer>
